
body {
	font-size: 16px;
	margin: 5%;
	background-color: #20391e;
	
}



h1 {
	text-align: center;
	font-family: 'Mali', cursive;
}

h2 {
	text-align: center;
	font-family: 'Mali', cursive;
	color: #6dc066;
	margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: xx-large;
      
   border: 5px #000;
   margin: 0;
   outline-style: groove;
   color: #000000;
   background-color: #6dc066;
   margin-left: auto;
   margin-right: auto;
   outline-style: auto;
   border-bottom-style: groove;
   margin-bottom: 10px;

}

h3 {
	text-align: center;
	font-family: 'Mali', cursive;
	color: #black;
	margin-left: auto;
  margin-right: auto;
  text-align: center;

}



.container1 {
	display: flex;
}

.title {
	
		flex-wrap: wrap;
		justify-content: center;
		width: 1320px;
    padding: 10px;
    border: 5px #000;
    margin: 0;
    outline-style: groove;
    color: #black;
    background-color: #DDDDDD;
    margin-left: auto;
  	margin-right: auto;
    outline-style: auto;
    border-bottom-style: groove;
}

.plate {
text-align: center;

}

.center {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.intro {

	font-family: 'Mali', cursive;
	color: #c4e5c1;
	width: 1320px;
	margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.container {
  display: flex;
  flex-direction: row;

}




.icons {
	flex-direction: column;
	flex-basis: 50%;
	background-color: #DDDDDD;
	float: left;
  width: 50%;
  flex-flow: column;
  font-family: 'Mali', cursive;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 5px #000;
  border-style: groove;
	
}

.icon-explanation {
	flex-direction: column;
	background-color: #DDDDDD;
	float: left;
	font-family: 'Mali', cursive;
	margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 5px #000;
  border-style: groove;

    width: 50%;

}



.footer {
		width: 1200px;
    padding: 50px;
    border: 5px #000;
    margin: 0;
    outline-style: groove;
    color: #000000;
    background-color: #DDDDDD;
    font-family: 'Mali', cursive;
    border: 5px #000;
    border-style: groove;
    text-align: center;
    font-size: small;

}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .container1 {
    display: flex;
    flex-wrap: wrap;
        width: 900px;
    font-size: xx-large;

  }

  h2 {align-content: center;
    font-size: 43px;
    padding: 10px;}

  .intro {
    width: 900px;
    font-size: 42px;

  }

  .container {
    justify-content: center;
    font-size: x-large;
  flex-direction: column;}

.webpage {display: flex;
      flex-wrap: wrap;
      justify-content: center;
          margin-left: 200px;
    margin-right: 9px;
  }

  .icons {font-size: xxx-large;
    display: flex;
    flex-direction: column;
  width: 900px;}

    .icon-explanation {
    flex-direction: column;
    width: 900px}

.footer {
  font-size: small;
  width: 900px;
  text-align: inherit;
}

  body {width: 900px;}


 

}
